/*img {
  display: none;
}*/


#p1{
  font-size: 30px;
  color: blue;
  background-color: yellow;
  text-decoration: underline;
}

#p2{
  font-size: 30px;
  color: red;
  background-color: yellow;
  text-decoration: underline;
}
